*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0a0f1f;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial,sans-serif;
    color:white;
}

.hero{
    text-align:center;
}

.logo{
    font-size:100px;
    margin-bottom:20px;
    animation:float 2s ease-in-out infinite;
}

h1{
    font-size:70px;
    margin-bottom:15px;
    color:#00e5ff;
    text-shadow:0 0 20px #00e5ff;
}

p{
    font-size:22px;
    color:#cfcfcf;
    margin-bottom:30px;
}

button{
    padding:15px 40px;
    font-size:18px;
    border:none;
    border-radius:30px;
    background:#00e5ff;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    transform:scale(1.05);
}

@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}

.title-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.ai-icon{
    font-size:60px;
    color:#00e5ff;
    text-shadow:0 0 20px #00e5ff;
}

.logo-container h1{
    font-size:60px;
    color:#00e5ff;
    text-shadow:0 0 20px #00e5ff;
}